<template>
  <div class="end-game mt-3">
    <div class="row">
      <div class="col-auto">
        <h2 v-if="isPlayerWin">
          {{ playerName }} won
        </h2>
        <h2 v-else>
          Monster won
        </h2>
      </div>
      <div class="col-auto ml-auto">
        <button @click="playAgain" class="btn btn-primary">Play again</button>
      </div>
    </div>
    <LogList
      :logList="logList"
      :isLogList="isLogList"
      @log-list-view="isLogListUpdate" />
  </div>
</template>

<script>
  import LogList from '../components/LogList';
  import { mapState, mapActions } from 'vuex';

  export default {
    name: "EndGame",

    components: {
      LogList,
    },

    computed: {
      ...mapState([
        'playerName',
        'isLogList',
        'isPlayerWin',
        'logList'
      ]),
    },

    methods: {
      ...mapActions([
        'isLogListChange',
        'isPlayerWinChange',
        'isMonsterWinChange',
        'logListChange',
      ]),

      isLogListUpdate() {
        this.isLogListChange(true);
      },

      playAgain() {
        this.$router.push('/');
        this.isLogListChange(false);
        this.isPlayerWinChange(false);
        this.isMonsterWinChange(false);
        this.logListChange([]);
      },
    },
  };
</script>