<template>
  <div class="play-game mt-3">
    <div class="row">
      <LifeProgress
        :fighterName="playerName"
        :life="playerLife" />
      <LifeProgress
        fighterName="Monster"
        :life="monsterLife" />
    </div>
    <template v-if="!isEndGame">
      <ButtonsBoard
        :isAttack ="isAttack"
        :isSuperAttack ="isSuperAttack"
        :isHeal ="isHeal"
        @player-attack="playerAttack"
        @player-super-attack="playerSuperAttack"
        @player-heal="playerHeal"
        @give-up="giveUp" />
    </template>
    <LogList
      :logList="logList"
      :isLogList="!isLogList" />
  </div>
</template>

<script>
  import LifeProgress from '@/components/LifeProgress.vue';
  import ButtonsBoard from '@/components/ButtonsBoard.vue';
  import LogList from '@/components/LogList';
  import { mapState, mapActions } from 'vuex';

  export default {
    name: "PlayGame",

    components: {
      LifeProgress,
      ButtonsBoard,
      LogList,
    },

    data() {
      return {
        playerLife: 100,
        monsterLife: 100,
        logList: [],
        monsterAttackInterval: null,
        monsterSuperAttackInterval: null,
        monsterHealInterval: null,
        isEndGame: false,
        isAttack: false,
        isSuperAttack: true,
        isHeal: true,
      };
    },

    computed: {
      ...mapState([
        'playerName',
        'isPlayerWin',
        'isMonsterWin',
        'isLogList',
      ]),
    },

    methods: {
      ...mapActions([
        'isLogListChange',
        'isPlayerWinChange',
        'isMonsterWinChange',
        'logListChange',
      ]),

      uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
          const r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
          return v.toString(16);
        });
      },

      random(min, max) {
        return Math.floor(Math.random() * (max - min + 1)) + min;
      },

      endGame() {
        if(this.isPlayerWin || this.isMonsterWin) {
          clearInterval(this.monsterAttackInterval);
          clearInterval(this.monsterSuperAttackInterval);
          clearInterval(this.monsterHealInterval);
        }
      },

      logListUpdate(obj) {
        this.logList.push(obj);
        this.logListChange(this.logList);
      },

      attack() {
        const random = this.random(5, 10);
        return {
          type: 'attack',
          random,
          currentDisabledDelay: 4000,
          otherDisabledDelay: 2000,
        };
      },  

      superAttack() {
        const random = this.random(15, 20);
        return {
          type: 'super attack',
          random,
          currentDisabledDelay: 6000,
          otherDisabledDelay: 2000,
        };
      },

      heal() {
        const random = this.random(5, 20);
        return {
          type: 'heal',
          random,
          currentDisabledDelay: 5000,
          otherDisabledDelay: 2000,
        };
      },

      play() {
        this.monsterAttackInterval = setInterval(this.monsterAttack, 3000);

        this.monsterSuperAttackInterval = setInterval(this.monsterSuperAttack, 4000);

        this.monsterHealInterval = setInterval(this.monsterHeal, 5000);
      },

      playerAttack() {
        this.isAttack = true;

        if(this.monsterLife > 0) {
          this.monsterLife -= this.attack().random;
          this.logListUpdate({
            ...this.attack(),
            attacker: this.playerName,
            id: this.uuidv4(),
            classes: 'bg-success text-light',
          });
        }

        if(this.monsterLife <= 0) {
          this.monsterLife = 0;
          this.isPlayerWinChange(true);
          this.isEndGame = true;
          this.isLogListChange(false);
          this.$router.push("/end-game");
        }

        setTimeout(() => this.isAttack = false, this.attack().currentDisabledDelay);

        setTimeout(() => {
          this.isSuperAttack = false;
          this.isHeal = false;
        }, this.attack().otherDisabledDelay);

        this.endGame();
      },

      monsterAttack() {
        if(this.playerLife > 0) {
          this.playerLife -= this.attack().random;
          this.logListUpdate({
            ...this.attack(),
            attacker: 'Monster',
            id: this.uuidv4(),
            classes: 'bg-danger text-light',
          });
        }

        if(this.playerLife <= 0) {
          this.playerLife = 0;
          this.isMonsterWinChange(true);
          this.isEndGame = true;
          this.isLogListChange(false);
          this.$router.push("/end-game");
        }

        this.endGame();
      },

      playerSuperAttack() {
        this.isSuperAttack = !this.isSuperAttack;

        if(this.monsterLife > 0) {
          this.monsterLife -= this.superAttack().random;
          this.logListUpdate({
            ...this.superAttack(),
            attacker: this.playerName,
            id: this.uuidv4(),
            classes: 'bg-success text-light',
          });
        }

        if(this.monsterLife <= 0) {
          this.monsterLife = 0;
          this.isPlayerWinChange(true);
          this.isEndGame = true;
          this.isLogListChange(false);
          this.$router.push("/end-game");
        }

        setTimeout(() => this.isSuperAttack = false, this.superAttack().currentDisabledDelay);

        setTimeout(() => {
          this.isAttack = false;
          this.isHeal = false;
        }, this.superAttack().otherDisabledDelay);

        this.endGame();
      },

      monsterSuperAttack() {
        if(this.playerLife > 0) {
          this.playerLife -= this.superAttack().random;
          this.logListUpdate({
            ...this.superAttack(),
            attacker: 'Monster',
            id: this.uuidv4(),
            classes: 'bg-danger text-light',
          });
        }

        if(this.playerLife <= 0) {
          this.playerLife = 0;
          this.isMonsterWinChange(true);
          this.isEndGame = true;
          this.isLogListChange(false);
          this.$router.push("/end-game");
        }

        this.endGame();
      },

      playerHeal() {
        this.isHeal = !this.isHeal;

        if(this.playerLife < 100) {
          this.playerLife += this.heal().random;
          this.logListUpdate({
            ...this.heal(),
            attacker: this.playerName,
            id: this.uuidv4(),
            classes: 'bg-success text-light',
          });
        }

        if(this.playerLife > 100) this.playerLife = 100;

        setTimeout(() => this.isHeal = false, this.heal().currentDisabledDelay);

        setTimeout(() => {
          this.isAttack = false;
          this.isSuperAttack = false;
        }, this.superAttack().otherDisabledDelay);
      },

      monsterHeal() {
        if(this.monsterLife < 100) {
          this.monsterLife += this.heal().random;
          this.logListUpdate({
            ...this.heal(),
            attacker: 'Monster',
            id: this.uuidv4(),
            classes: 'bg-danger text-light',
          });
        }
        
        if(this.monsterLife > 100) this.monsterLife = 100;
      },
      
      giveUp() {
        this.$router.push("/end-game");
        this.isMonsterWinChange(true);
        this.endGame();
        this.isEndGame = true;
        this.isLogListChange(false);
      },
    },

    created() {
      this.play();
    },
  };
</script>