<template>
  <form @submit.prevent="routeChange" class="registration mt-3">
    <label class="h1 text-primary" for="reg">Insert your name</label>
    <input class="form-control" id="reg" v-model="playerName">
    <button class="btn btn-primary mt-3">
      Play
    </button>
  </form>
</template>

<script>
  export default {
    name: "Registration",

    data() {
      return {
        playerName: '',
      };
    },

    methods: {
      routeChange() {
        if(this.playerName.trim()) {
          this.$router.push("/play-game");
          this.$store.dispatch('playerNameChange', this.playerName);
        }
      },
    },
  };
</script>