<template>
  <div class="row mb-3">
    <div class="col-auto">
      <button
        class="btn btn-danger"
        :disabled="isAttack"
        @click="playerAttack">
        Attack
      </button>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-warning"
        :disabled="isSuperAttack"
        @click="playerSuperAttack">
        Super attack
      </button>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-success"
        :disabled="isHeal"
        @click="playerHeal">
        Heal
      </button>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-secondary"
        @click="giveUp">
        Give up
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ButtonsBoard',
    props: {
      isAttack: Boolean,
      isSuperAttack: Boolean,
      isHeal: Boolean,
    },

    methods: {
      playerAttack() {
        this.$emit('player-attack');
      },

      playerSuperAttack() {
        this.$emit('player-super-attack');
      },

      playerHeal() {
        this.$emit('player-heal');
      },

      giveUp() {
        this.$emit('give-up');
      },
    },
  };
</script>

<style scoped lang="scss">

</style>