<template>
  <div class="col-6 text-center mb-3">
    <h1 class="mt-0">{{ fighterName }}</h1>
    <progress :value="life" max="100"></progress>
  </div>
</template>

<script>
  export default {
    name: 'LifeProgress',
    props: {
      fighterName: String,
      life: Number,
    },
  };
</script>

<style scoped lang="scss">
  progress {
    border: none;
    width: 100%;
    height: 40px;
    background: rgb(226, 79, 79);
    position: relative;
  }

  progress::-webkit-progress-value {
    background: rgb(226, 79, 79);
    border-radius: 15px;
  }

  progress::-webkit-progress-bar {
    background: #fff;
  }
  
  progress::before {
    content: attr(value) " %";
    position: absolute;
    top: 7px;
    left: 47%;
    font-weight: bold;
    font-size: 1.1rem;
  }
</style>