<template>
  <div>
    <template v-if="isLogList">
      <ul class="pl-0">
        <li
          class="p-2 rounded-lg h6"
          v-for="log in logList"
          :key="log.id"
          :class="log.classes">
          {{ `${log.attacker} ${log.type} ${log.random}` }}
        </li>
      </ul>
    </template>
    <button
      v-else
      class="btn btn-primary mb-3"
      @click="logListView">
      View log list
    </button>
  </div>
</template>

<script>
  export default {
    name: 'LogList',

    props: {
      isLogList: Boolean,
      logList: Array,
    },

    methods: {
      logListView() {
        this.$emit('log-list-view');
      },
    },
  };
</script>